*{
   margin: 0;
   padding: 0;
   font-family: 'Poppins', sans-serif;
   box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body {
    background: #161616;
    color: #fff;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}
#header{
    width: 100%;
    height: 100vh;
    background-image: url(Images/Artboard.png);
    background-size: cover;
    background-position: center;
}
#header p{
    color: #FFE6E6;
    text-decoration: none;
    position: relative;

}
.container{
    padding: 10px 10%;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.logo{
    width: 140px;

}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a{
    color: #FFE6E6;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}
nav ul li a::after{
    content: '';
    width: 0%;
    height: 3px;
    background: #00ADB5;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}
nav ul li a:hover::after{
    width: 100%;
}
.header-text{
    margin-top: 20%;
    font-size: 30px;
    color: #222831;
}
.header-text h1{
    font-size: 60px;
    margin-top: 30px;
    color: #393E46;
}
.header-text h1 span{
    color: #00ADB5;
}
#about{
    padding: 80px 0;
    color: #393E46;

}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
}
.about-col-1{
    flex-basis: 35%;
}
.about-col-1 img{
    width: 100%;
    border-radius: 15px;
}
.about-col-2{
    flex-basis: 60%;
}
.subtitle{
    font-size: 50px;
    font-weight: 600;
}
.tab-titles{
    display: flex;
    margin: 20px 0 40px;
}
.tab-links{
    margin-right: 50px;
    font-size: 24px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}
.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background: #00ADB5;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}
.tab-links.active-link::after{
    width: 100%;
}
.tab-contents ul li{
    list-style: none;
    margin: 10px 0;
}
.tab-contents ul li span{
    color: #00ADB5;
    font-size: 16px;
}
.tab-contents{
    display: none;
}
.tab-contents.active-tab{
    display: block;
}

#services{
    padding: 30px 0;
}
.services-list{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(25opx,1fr));
    gap: 40px;
    margin-top: 50px;
}
.services-list div{
    background: #161616;
    padding: 40px;
    font-size: 13px;
    font-weight: 300;
    border-radius: 10px;
}

#portfolio{
    padding: 50px 0;

}
.work-list{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px;
    margin-top: 50px;
}
.work{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}
.work img{
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
}
.layer{
    width: 100%;
    height: 100%;
    opacity: 0;
    background: linear-gradient(rgba(0,0,0,0.6),#00ADB5);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    transition: opacity 0.5s;
}
.layer a{
    font-weight: 500;
    margin-bottom: 20px;
    color: #FFE6E6;
    text-decoration: none;
    font-size: 18px;
}
.work:hover img{
    transform: scale(1.1);
}
.work:hover .layer{
    opacity: 100%;
}

.contact-left{
    width: 100%;
    text-align: center;
    align-items: center;
    align-content: center;
    padding: 25px 0;
    background-color: #1b1a1a;
    font-weight: 300;
    margin-top: 20px;
}
.contact-left h1{
    color: #00ADB5;

}
.contact-left p{

    margin-top: 30px;
    font-size: 25px;
}
.contact-left p img{
    margin-left: 10px;
    margin-bottom: 0;
    width: 20px;
    height: 20px;
   
}


.social-icons {
    display: -ms-inline-grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 80px;
    margin-top: 50px;
}

.social-icons a img{
    width: 50px;
    height: 50px;
    transition: transform 0.5;

}
.social-icons a img:hover{
    transform: translateY(-5px);
}

.copyright{
    width: 100%;
    text-align: center;
    padding: 25px 0;
    background-color: #222831;
    font-weight: 300;
    margin-top: 20px;
}
nav .fa{
    width: 20px;
    height: 20px;
    display: none;
}
.btn {
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid #00ADB5;
    padding: 14px 50px;
    border-radius: 6px;
    color: #FFE6E6;
    text-decoration: none;
    transition: background 0.5s;
}
.btn:hover{
    background: #00ADB5;
}
/* css for mobile */

@media only screen and (max-width: 600px) {
    #header{
        background-image: url("Images/Artboardmobile.png");
    }
    .header-text{
        margin-top: 100%;
        font-size: 16px;
    }
    .header-text h1{
        font-size: 30px;
    }
    nav .fa{
        width: 20px;
        height: 20px;
        display: block;

    }
    nav ul{
        background: #393E46;
        position: fixed;
        top: 0;
        right: -200px;
        width: 200px;
        height: 100vh;
        padding-top: 25px;
        z-index: 2;
        transition: right 0.5s;
    }
    nav ul li{
        display: block;
        margin: 25px;
    }
    nav ul .fa{
        position: absolute;
        top: 20px;
        left: 35px;
        cursor: pointer;
    }
    .header-text{
        margin-top: 40%;
    }
    .logo{
        width: 70px;
    }
    .about-col-1, .about-col-2{
        flex-basis: 100%;
    }
    .about-col-1{
        margin-bottom: 20px;
    }
    .tab-links{
        font-size: 16px;
        margin-right: 20px;
    }
    .work-list{
        grid-template-columns: 1fr;
    }
    .layer{
        opacity: 70%;
    }
    .contact-left p{
        font-size: 18px;
    }
    .social-icons a img{
        width: 30px;
        height: 30px;
    }

  }